.App {
  text-align: center;
  background: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

header.App-header a {
  text-decoration: none;
  color: #b5d7ff;
  margin: 10px;
}

.page {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
}
